.markdownWrapper {
  font-family: "texturina";
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  blockquote {
    max-width: 72ch;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    text-align: justify;
    margin-bottom: 1rem;
  }
  ul, ol {
    margin: 1rem auto;
    margin-inline-start: 1rem;
  }
  blockquote {
    padding-left: 1rem;
    border-left: 2px solid #ff3864;
  }
}
