.markdownWrapper {
  font-family: "texturina";
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li,
  blockquote {
    max-width: 50ch;
  }
  h2 {
    font-size: 3rem;
  }
  p {
    text-align: justify;
  }
}
